.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.timer__time {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 475px) {
  .timer__time {
    font-size: 62px;
  }
}
.timer__btns {
  display: flex;
}
.timer__btns button + button {
  margin-left: 5px;
}
.timer__btns button {
  font-size: 18px;
}